/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use "../../styles" as styles;
@use "../../../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

.root {
  position: absolute;

  @include styles.default-text-style;
}
.hover-area {
  pointer-events: none;
  padding-block: cs.$space-static-s;
  padding-inline: cs.$space-static-s;
  margin-block: calc(-1 * #{cs.$space-static-s});
  margin-inline: calc(-1 * #{cs.$space-static-s});
}

.popover-body {
  pointer-events: auto;
}
