/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use "../../styles" as styles;
@use "../../../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;
@use "@cloudscape-design/component-toolkit/internal/focus-visible" as focus-visible;

@use "./motion";

$icon-margin-left: "(#{cs.$line-height-body-m} - #{cs.$size-icon-normal}) / -2";
$icon-margin-right-normal: "#{cs.$space-static-xxs} + 1px";
$icon-margin-right-medium: cs.$space-static-xs;

// Total space occupied by the expand icon on the left and its margins.
// Useful to keep elements correctly aligned.
$icon-total-space-normal: calc(#{cs.$size-icon-normal} + #{$icon-margin-left} + #{$icon-margin-right-normal});
$icon-total-space-medium: calc(#{cs.$size-icon-medium} + #{$icon-margin-left} + #{$icon-margin-right-medium});

.root {
  @include styles.styles-reset;
  @include styles.default-text-style;
  @include styles.text-wrapping;
}

.expand-button {
  outline: none;
}

.icon {
  transform: rotate(-90deg);

  &.expanded {
    transform: rotate(0deg);
  }

  @include styles.with-direction("rtl") {
    transform: rotate(90deg);

    &.expanded {
      transform: rotate(0deg);
    }
  }
}

.icon-container {
  position: relative;
  margin-inline: calc(#{$icon-margin-left}) calc(#{$icon-margin-right-normal});
}

.wrapper {
  box-sizing: border-box;
  inline-size: 100%;
  line-height: cs.$line-height-body-m;
  text-align: start;

  color: cs.$color-text-body-default;
  @include styles.font-smoothing;

  padding-inline-start: $icon-total-space-normal;
  padding-inline-end: 0;
}

.header {
  &-wrapper {
    display: flex;
    font-weight: cs.$font-weight-heading-s;
    font-size: inherit;
    letter-spacing: inherit;
  }

  &-actions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-button {
    box-sizing: border-box;
    display: flex;
    margin-inline-start: calc(-1 * #{$icon-total-space-normal});

    @include focus-visible.when-visible {
      @include styles.focus-highlight(0px);
    }
  }
}

.content {
  display: none;
  padding-inline-start: $icon-total-space-normal;

  &-expanded {
    display: block;
  }
}

.click-target {
  cursor: pointer;
}
