/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use "../../styles" as styles;
@use "../../../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;
@use "@cloudscape-design/component-toolkit/internal/focus-visible" as focus-visible;
@use "./motion";

.root {
  @include styles.styles-reset;
  @include styles.default-text-style;

  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;

  inline-size: 100%;
  max-block-size: inherit;

  &:focus {
    outline: none;
  }
}

.list {
  display: flex;
  overflow-y: auto;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: cs.$space-static-xxxs;
  padding-inline: cs.$space-static-xxxs;
  margin-block-start: cs.$space-scaled-xs;
}

.list-bottom {
  flex-wrap: wrap;
  gap: cs.$space-scaled-xxs cs.$space-static-xl;

  &.list-bottom-start {
    justify-content: start;
  }
  &.list-bottom-center {
    justify-content: center;
  }
  &.list-bottom-end {
    justify-content: end;
  }
}

.list-side {
  flex-wrap: nowrap;
  flex-direction: column;
  gap: cs.$space-scaled-xxs cs.$space-static-m;
}

.item {
  @include styles.styles-reset;
  @include styles.default-text-style;

  display: inline-flex;
  padding-block: 0;
  padding-inline: 0;
  border-block: 0;
  border-inline: 0;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  max-inline-size: 100%;

  &:focus {
    outline: none;
  }

  @include focus-visible.when-visible {
    @include styles.focus-highlight(2px);
  }

  &.item--inactive {
    color: cs.$color-text-interactive-default;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: cs.$color-text-interactive-default;
  }

  &.item--dimmed {
    opacity: 0.35;
  }
}

.item-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.actions {
  display: flex;
  align-items: center;
}

.actions-bottom {
  flex-direction: row;
}

.actions-side {
  flex-direction: column;
  align-items: flex-start;
}

.actions-divider-bottom {
  inline-size: 1px;
  block-size: 80%;
  margin-inline: cs.$space-scaled-xs;
  background: cs.$color-border-divider-default;
}

.actions-divider-side {
  display: block;
  border: 0;
  padding: 0;
  inline-size: 100%;
  margin-block-end: cs.$space-scaled-xs;
  margin-top: 7px;
  border-top: 1px solid cs.$color-border-divider-default;
}
