/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use "../../styles" as styles;
@use "../../../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;
@use "@cloudscape-design/component-toolkit/internal/focus-visible" as focus-visible;
@use "./motion";

.root {
  @include styles.styles-reset;
  @include styles.default-text-style;

  &:focus {
    outline: none;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  gap: cs.$space-scaled-xxs cs.$space-static-m;
}

.list-align-start {
  justify-content: unset;
}

.list-align-center {
  justify-content: center;
}

.marker {
  @include styles.styles-reset;
  @include styles.default-text-style;

  display: inline-flex;
  align-items: center;
  gap: cs.$space-static-xs;
  padding-block: 0;
  padding-inline: 0;
  border-block: 0;
  border-inline: 0;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;

  &:focus {
    outline: none;
  }

  @include focus-visible.when-visible {
    @include styles.focus-highlight(2px);
  }

  &.marker--dimmed {
    color: cs.$color-text-interactive-disabled;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: cs.$color-text-interactive-disabled;
  }

  &.marker--highlighted {
    /* used in test utils */
  }
}
