/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

.tooltip-default-header {
  display: inline-flex;
  align-items: center;
  gap: cs.$space-static-xxs;
}
