/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as cs;

.root {
  position: relative;
}

.root-fit-height {
  block-size: 100%;
}

.no-data {
  padding: cs.$space-static-xs;
  background-color: cs.$color-background-layout-main;
  border-radius: 8px;
  border: 1px solid cs.$color-border-divider-default;
}

.no-data-wrapper {
  padding: cs.$space-static-xxs;
  border-radius: 8px;
  background-color: cs.$color-background-layout-main;
}

.chart-filters {
  padding-block-end: cs.$space-scaled-l;

  display: flex;
  flex-wrap: wrap;
  gap: cs.$space-scaled-l;

  &-series {
    flex: 280px 0 1;
  }
}

.vertical-axis-title {
  display: flex;
  gap: cs.$space-static-xs;
  justify-content: space-between;
}
