name: Lint PR
permissions: read-all

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
  merge_group:

jobs:
  dry-run:
    uses: cloudscape-design/actions/.github/workflows/lint-pr.yml@main