/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use "@cloudscape-design/design-tokens/index.scss" as cs;

.error-range {
  display: flex;
  justify-content: space-between;
  gap: cs.$space-scaled-s;
}
